extends ../layout

block content
    h1 Designers Clothes
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Dress Type
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") outlet name
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") Cloth stuff
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") Price
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        